.cart-page {
  padding: 20px;
  background: #f3f3f3;
  min-height: 100vh;
}

.cart-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.cart-layout {
  display: flex;
  gap: 20px;
}

/* LEFT SIDE */
.cart-items {
  flex: 3;
}

.cart-item {
  display: flex;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.item-details {
  margin-left: 20px;
  flex: 1;
}

.item-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.seller, .stock, .delivery {
  font-size: 13px;
  margin: 2px 0;
  color: #555;
}

.price {
  font-size: 18px;
  margin: 8px 0;
  font-weight: bold;
}

.item-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-box button {
  padding: 5px 10px;
  font-size: 16px;
}

.remove {
  background: transparent;
  border: none;
  color: #007185;
  cursor: pointer;
}

/* RIGHT SIDE */
.cart-summary {
  flex: 1;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  height: fit-content;
  position: sticky;
  top: 20px;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.summary-total {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background: #ffd814;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

.checkout-btn:hover {
  background: #f7ca00;
}